.bg-blue{
    background-color: rgb(15, 50, 87);
}
.bg-dark{
    background-color: rgb(10, 35, 62);
}

.col-white{
    color: white;
}

header{
    height: 100px;
}

.bg-green{
    background-color: rgb(79, 150, 79);
}

.container.jumbotron .row{
    justify-content: center;
}

.content-image{
    width: 300px;
}

.jumbotron h1{
    font-size: 36px;
    font-weight: bold;
}

.col-img img{
    width: 100%;
    border-radius: 10px;
}

.content-about-inner {
    width: 70%;
    margin: 0 auto;
}

button{
    border: 1px solid white;
}

.fab {
    border: 1px solid white;    
    border-radius: 50%;
}

