.bg-blue{
    background-color: rgb(15, 50, 87);
}
.bg-black{
    color: black;
}

.tx-none {
    text-decoration: none;
}

.col-white{
    color: white;
}

.nav-link {
    color: white;
}

.star {
    width: 35%;
    height: 50px;
    text-align: center;
}



.line-white, .line-black {
    width: 100%;
    height: 50px;
    position: relative;
}


.line-white::after {
    content: "";
    position: absolute;
    margin: auto;
    height: 4px;
    background-color: #fff;
    width: 40%;
    top: 50%;   
    right: 0;
}

.line-white::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 4px;
    background-color: #fff;
    width: 40%;
    top: 50%;
    left: 0;
}
.line-black::after {
    content: "";
    position: absolute;
    margin: auto;
    height: 4px;
    background-color: #000;
    width: 40%;
    top: 50%;   
    right: 0;
}

.line-black::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 4px;
    background-color: #000;
    width: 40%;
    top: 50%;
    left: 0;
}

.line-white i, .line-black i {
    padding: 14px 0;
    font-size: 18px;
}


.bg-green{
    background-color: rgb(79, 150, 79);
}

.content-image{
    width: 200px;
}
.specifics p {
    font-size: 10px;
}

.jumbotron h1{
    font-size: 24px;
    font-weight: bold;
}

.col-img img{
    width: 100%;
    border-radius: 10px;
}

.content-inner {
    width: 70%;
    margin: 0 auto;
}

.button{
    border: 1px solid white;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

form input, form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 5px;
}

.fab {
    border: 1px solid white;    
    border-radius: 50%;
}

footer i{
    width: 60px;
}